doctype 5
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/requestdump/css/bootstrap.min.css')
    link(rel='stylesheet', href='/requestdump/css/screen.css')
    link(rel='stylesheet', href='/requestdump/css/bootstrap-responsive.min.css')
  body
    block content
    script(src='/requestdump/js/bootstrap.min.js')
